<html>
  <head>
    <title>Update Category</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      header{ 
         background-image: url('../../../images/background.jpeg') ;
         opacity: 0.75;
      }
       #DIV {
         margin-top: 55px;
      }
    </style>
  </head>
<body>
<header>
<% include adminHeader %>
<div id="DIV" style="background-color: rgb(235, 235, 228); font-weight: bolder;color: rgb(46, 88, 45);font-size: xx-large; width: fit-content; margin-left: 200px; " >
  <p>THE INFINITY PETALS- ADMIN WEBPAGE</p>
</div>
</header>  
    <% if(success != "") { %>
      <div>        
        <b><h2> <%= success %> 
         <% } %>
        </h2></b></div>
    <div class="row">
      <div class="col"></div>
      <div class="col-10" style="text-align: center;align-content: center;align-tracks: center;float : center;">
        <h2>Update Category:</h2>
        <div class="container">   
          
          <div class="panel panel-info">
            <div class="panel-body" >
                  <form action="/admin/update-category/<%= categoryRecord._id %>" class="form-horizontal" method="post"  role="form"  enctype="multipart/form-data">
                      
                      <div id="signupalert" style="display:none" class="alert">
                          <p>Alert,Error:</p>
                          <span></span>
                      </div>
                          
                      <div class="form-group">
                          <h5><label for="categoryName" >Category Name:</label></h5>
                          <div >
                              <input type="text" name="categoryName" placeholder="Enter Category Name" value="<%= categoryRecord.name %> " required>
                          </div>
                      </div>
                        
                      <div class="form-group">
                          <h5><label for="categorydetails">Description:</label></h5>
                          <div>
                            <textarea type="text" class="form-control" name="categorydetails" placeholder=" Description"><%= categoryRecord.details %></textarea>
                          </div>
                      </div>

                      <input type="hidden" name="id" value="<%= categoryRecord._id %> ">

                      <div class="form-group">
                                                
                          <div>
                          <input type="submit" name="submit" value="Update Category" class="btn btn-warning">   
                          </div>
                      </div>
                  </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>


</body>
</html>