
<!DOCTYPE html>
<html lang="en">
    <head>
      <title><%= title %> </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
       
    <style>

.hoveroncard {
  float: left;
  overflow: hidden;
  position: relative;
}

.hoveroncard .overlay {
width: 100%;
height: 100%;
position: absolute;
overflow: hidden;
top: 0;
left: 0;
padding: 50px;
text-align: left;
}

.hoveroncard img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 60px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
}

.hoveroncard h2 {
  text-transform: uppercase;
  color: white;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  padding: 15% 0 10px 0;
  text-align: left;
}

.hoveroncard .overlay:before {
  position: relative;
}

.hoveroncard a, .hoveroncard p {
  color: rgb(185, 54, 135);
  opacity: 0;
}

.hoveroncard:hover img {
opacity: 0.6;
filter: alpha(opacity=60);
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}

.hoveroncard:hover .overlay:before,
.hoveroncard:hover a, .hoveroncard:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
header{ 
                   background-image: url('../images/background.jpeg') ;
                   opacity: 0.75;
                }
                 #DIV {
                   margin-top: 55px;
                }
              </style>
    </head>
    <body>
      <header>
        <% include header %>
        <div id="DIV" style="background-color: rgb(235, 235, 228); font-weight: bolder;color: rgb(46, 88, 45);font-size: xx-large; width: fit-content; margin-left: 200px; " >
          <p>THE INFINITY PETALS</p>
        </div>
      </header>

        <div class="container">
          <h4 class="text-info text-center">Sent an Email to your account</h4>
            <h3 style="text-align: center;">Thank you for shopping with us!</h3>
            <p style="text-align: center;">. Our call agent will contact you in few
                hours for order confirmation 
            </p>
        </div>
        <hr style=" border: 1px solid rgb(73, 41, 133);">

        <div class="container">
          <div class="row" style="font-size: x-large; font-family: Georgia, 'Times New Roman', Times, serif; text-align: center; padding: 20px; color: rgb(93, 22, 185);">SHOP MORE</div>
            </span> 
            <div></div>
            <div class="row ms-auto">
              <% console.log(productRecord.length ) %>
              <%if (productRecord.length >0){ %>
                <% for (var i = 0; i < productRecord.length; i++) { %>
            <div class="hoveroncard ms-auto">
                <img src="/uploads/<%= productRecord[i].images[0] %> " class="img-thumbnail" alt="prodect" style="height: 250px; width: 250px;">
                <div class="overlay">
                  <a href="/productDetails/<%= productRecord[i]._id %> ">
                    <h2>  <%= productRecord[i].brand %>  </h2>
                  </a>
                    <p>
                      <a href="/buy-product/<%= productRecord[i]._id %>" type="button" class="btn btn-default">Order Now</a>
                    </p>
                    <p>
                      <a href="/add/<%= productRecord[i]._id  %> " class="btn btn-default" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</a>
                    </p>
              </div>
            </br>
            </div>
            <% } }else{ %>
                <h2>
                  <td colspan="7">No Record Found</td>
                </h2>
              <% } %>
        </div>
    </div>

    <% include footer %> 


    <body>

        
</html>